[submodule "vim/bundle/tagbar"]
	path = vim/pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-tags"]
	path = vim/pack/bundle/start/vim-tags
	url = https://github.com/szw/vim-tags.git
[submodule "vim/bundle/syntastic"]
	path = vim/pack/bundle/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-diffchanges"]
	path = vim/pack/bundle/start/vim-diffchanges
	url = https://github.com/jmcantrell/vim-diffchanges.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/pack/bundle/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/pack/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/editorconfig"]
	path = vim/pack/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/NERDTree"]
	path = vim/pack/bundle/start/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bash/bash-git-prompt"]
	path = bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "bash/fasd"]
	path = bash/fasd
	url = https://github.com/clvv/fasd.git
[submodule "bash/desk"]
	path = bash/desk
	url = https://github.com/jamesob/desk.git
[submodule "bash/liquidprompt"]
	path = bash/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "bash/powerline-shell"]
	path = bash/powerline-shell
	url = https://github.com/milkbikis/powerline-shell.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/pack/bundle/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/pack/bundle/start/vim-airline"]
	path = vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
